*{margin: 0; padding: 0; box-sizing: border-box; background-color: #21212e; color: #d6d6d6; font-family: Verdana, Geneva, Tahoma, sans-serif;}

.app{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.title{
  font-size: 3rem;
  margin-top: 4rem;
}
.player{
  font-size: 1.5rem;
  margin-top: 3rem;
}
.game-board{
  display: flex;
  margin-top: 3rem;
}
.square{
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #265083;
  margin: 4px 0 0 4px;
  border-radius: 4px;
  font-size: 2rem;
  cursor: pointer;
}
.square:hover{
  background-color: #008eb5;
  transition: all ease-out 0.4s;
}
.over{
  margin-top: 3rem;
}
.over button{
  background-color: #3a4490;
  font-size: 1.2rem;
  padding: 1rem;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 7px;
  cursor: pointer;
}
.over button:hover{
  background-color: #008eb5;
  transition: all ease-out 0.4s;
}
.exit-message{
  font-size: 1.5rem;
  margin-top: 2rem;
}